*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.wordMaterHeadingContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid black;
}

.heading{
    font-size: 30px;
    font-family: italic;
    font-weight:bold;
    padding: 20px;
}

.spinnerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
}

.show{
    visibility: hidden;
}

.rotate{
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    border: 3px;
    border-style: solid;
    border-color: black;
}

.boxIndividualContainer{
    display: flex;
}

.boxesMainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.grey{
    background-color: gray;
}

.winner {
    animation: rainbow 4s infinite linear;
}
@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
}